@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1200px;

  /* padding: 0 15px; */
}

.header {
  background-color: #1f2937;
  color: #fff;
  padding: 0 15px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  height: 60px;
}

.container {
  max-width: 1200px;
}

.nav-header ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}

.header-info {
  /* width: 600px; */
  flex-grow: 1;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-info_title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  line-height: 1.2;
}

.header-info_text {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 16px;
}

.header-image {
  /* width: 50%; */
  height: 300px;
  background-color: gray;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button {
  cursor: pointer;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 7px 16px;
  border-radius: 8px;
  border: none;
}
